<launch>
    
    <arg name="robot_name"  default="go1" />
    <arg name="rviz"        default="true"  />
    <arg name="gazebo"      default="true" />
    <arg name="is_simulation" default="true" />
    <arg name="robot_description"       default="$(find go1_description)/xacro/$(arg robot_name).champ.urdf"/> <!--Robots Champ -->
    <arg name="dollar" value="$"/> <!-- like Unitree--> 
    <arg name="rviz_ref_frame"         default="base_link"/>

    <arg name="wname" default="earth"/>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    
<!-- <node pkg="node_pkg" type="node_type" name="node_name" if="$(eval arg('arg_name') == 'desired_value')"/> -->
    <group ns="$(arg robot_name)">
        <param name="tf_prefix" value="$(arg robot_name)"/>
        <param if="$(arg gazebo)" name="use_sim_time" value="true"/>
        <include file="$(find champ_description)/launch/description.launch">
            <arg name="description_file" value="$(arg robot_description)"/>
        </include>

        <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
            args="-d $(find go1_description)/rviz/urdf_viewer.rviz -f $(arg rviz_ref_frame)"
            output="screen"/>   

        <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" value="$(find unitree_gazebo)/worlds/$(arg wname).world"/>
            <arg name="debug" value="$(arg debug)"/>
            <arg name="gui" value="$(arg gui)"/>
            <arg name="paused" value="$(arg paused)"/>
            <arg name="use_sim_time" value="$(arg use_sim_time)"/>
            <arg name="headless" value="$(arg headless)"/>
        </include>

        <node pkg="gazebo_ros" type="spawn_model" name="urdf_spawner" respawn="false" output="screen"
            args="-urdf -z 0.6 -model go1_gazebo -param robot_description -unpause"/>
     
    </group>


    

    
    <!-- Load controller name from YAML file to parameter server -->
    <!-- <rosparam file="$(find maestro)/go1_description/config/joint_names.yaml" command="load"/> -->

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <!-- <rosparam file="$(find maestro)/go1_description/config/robot_control.yaml" command="load"/> -->

    <!-- <node pkg="maestro"  name="main_handler" type="main_handler"  output="screen" 
                   ns="/go1_gazebo" args="$(find maestro)/go1_description/urdf/go1.urdf" /> -->
        <!-- <param name="urdf_file" textfile="$(find maestro)/go1_description/urdf/go1.urdf"/> -->
        <!-- <param name="urdf_file" value="$(find maestro)/go1_description/urdf/go1.urdf"/> -->

    <!-- convert joint states to TF transforms for rviz, etc -->
    <!-- <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"
          respawn="false" output="screen">
        <remap from="/joint_states" to="/go1_gazebo/joint_states"/>
    </node> -->

</launch>